.actions
  position: absolute
  padding: 1em

  &--shoot
    background: rgba(white, 0.75)
    right: 25%
    bottom: 25%
    transform: translate(50%, 50%)
  &--restart
    background: rgba(red, 0.5)
    right: 75%
    bottom: 25%
    transform: translate(50%, 50%)
  &--confirm
    background: rgba(green, 0.5)
    right: 25%
    bottom: 37%
    transform: translate(50%, 50%)
